.header-container {
    display: flex;
    justify-content: space-between;

}

.title {
    flex: 1;
}

.button-container {
    flex: 1;
}

.button-container button {
    margin-right: 10px;
    margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
    .header-container {
        flex-direction: column;
    }


}

.locked-field {
    pointer-events: none;
    opacity: 0.7;
}

.hourglass-cursor {
    cursor: wait;
}