<ngx-spinner type="ball-spin-clockwise" color="skyblue"></ngx-spinner>
<nb-card>
    <nb-card-header style="padding-bottom: 5px;" class="header-container">
        <div class="title">{{ title }}</div>
        <div class="button-container">
        </div>
    </nb-card-header>

    <nb-card-body style="padding-top: 3px;">
        <form #form="ngForm" name="form" aria-labelledby="title" novalidate>
            <span>
                <div class="form-group row">
                    <label for="fullName" class="col-sm-2 col-form-label">Full Name</label>
                    <div class="col-sm-9">
                        <input nbInput fullWidth id="fullName" type="text" class="form-control" name="fullName"
                            [(ngModel)]="user.fullName" #fullName="ngModel" readonly
                            [status]="(fullName.dirty|| isSubmitted) ? (fullName.invalid  ? 'danger' : 'success') : ''"
                            [attr.aria-invalid]="fullName.invalid && (fullName.touched || isSubmitted) ? true : null">
                    </div>
                </div>
                <!-- <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input nbInput type="text" id="email" fullWidth class="form-control" name="email"
                                [(ngModel)]="user.email" oninput="this.value = this.value.toLowerCase()"
                                placeholder="Email" pattern=".+@.+\..+" [minlength]="10" [maxlength]="100"
                                #email="ngModel" readonly
                                [status]="(email.dirty|| isSubmitted) ? (email.invalid  ? 'danger' : 'success') : ''"
                                [attr.aria-invalid]="email.invalid && (email.touched || isSubmitted) ? true : null">
                        </div>
                        <ngx-validation-message label="Email name"
                            [showPattern]="email?.hasError('pattern') && email.touched">
                        </ngx-validation-message>
                    </div>
                </div> -->
                <!-- <div class="form-group row">
                    <label for="phoneNumber" class="col-sm-2 col-form-label">Phone Number</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input nbInput type="tel" id="phoneNumber" fullWidth class="form-control" name="phoneNumber"
                                [(ngModel)]="user.phoneNumber" pattern="[0-9]{10}"
                                #phoneNumber="ngModel" readonly
                                [status]="(phoneNumber.dirty || isSubmitted) ? (phoneNumber.invalid ? 'danger' : 'success') : ''"
                                [attr.aria-invalid]="phoneNumber.invalid && (phoneNumber.touched || isSubmitted) ? true : null">
                        </div>
                        <ngx-validation-message label="Phone number"
                            [showPattern]="phoneNumber?.hasError('pattern') && phoneNumber.touched">
                        </ngx-validation-message>
                    </div>
                </div> -->
                <div class="form-group row">
                    <label for="role" class="col-sm-2 col-form-label">Role</label>
                    <div class="col-sm-9">
                        <input nbInput fullWidth id="role" type="text" class="form-control" name="role"
                            [(ngModel)]="user.role" #role="ngModel" readonly
                            [status]="(role.dirty|| isSubmitted) ? (role.invalid  ? 'danger' : 'success') : ''"
                            [attr.aria-invalid]="role.invalid && (role.touched || isSubmitted) ? true : null">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="plant" class="col-sm-2 col-form-label">Plant</label>
                    <div class="col-sm-9">
                        <input nbInput fullWidth id="plant" type="text" class="form-control" name="plant"
                            [(ngModel)]="user.plant" #plant="ngModel" readonly
                            [status]="(plant.dirty|| isSubmitted) ? (plant.invalid  ? 'danger' : 'success') : ''"
                            [attr.aria-invalid]="plant.invalid && (plant.touched || isSubmitted) ? true : null">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="department" class="col-sm-2 col-form-label">Department</label>
                    <div class="col-sm-9">
                        <input nbInput fullWidth id="department" type="text" class="form-control" name="department"
                            [(ngModel)]="user.department" #department="ngModel" readonly
                            [status]="(department.dirty|| isSubmitted) ? (department.invalid  ? 'danger' : 'success') : ''"
                            [attr.aria-invalid]="department.invalid && (department.touched || isSubmitted) ? true : null">
                    </div>
                </div>
            </span>
            <div class="offset-sm-5 col-sm-5">
                <div class="container-btn">
                    <button nbButton status="primary" size="small" (click)="changePassword()">Change
                        Password</button>&nbsp;
                    <button nbButton status="primary" size="small" (mousedown)="back()">Back</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>