<nb-card>
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
        <form #passwordForm="ngForm" autocomplete="off">
            <div class="form-group row">
                <!-- New Password input -->
                <label for="newpassword" class="col-sm-6 col-form-label">New Password</label>
                <div class="col-sm-12">
                    <div class="password-input">
                        <input nbInput fullWidth id="newpassword" [type]="getInputType()"
                            class="form-control" name="newpassword" [(ngModel)]="newPassword" placeholder="New Password"
                            [minlength]="8" [maxlength]="16" #newpassword="ngModel"
                            [status]="(newpassword.dirty || isSubmitted) ? (newpassword.invalid ? 'danger' : 'success') : ''"
                            [attr.aria-invalid]="newpassword.invalid && (newpassword.touched || isSubmitted) ? true : null"
                            required>

                        <span class="password-toggle" (click)="togglePasswordVisibility()">
                            <nb-icon [icon]="hidePassword ? 'eye' : 'eye-off'"></nb-icon> </span>

                    </div>
                    <ngx-validation-message label="New Password" [showMinLength]="newpassword?.hasError('minlength')"
                        [showMaxLength]="newpassword?.hasError('maxlength')" [minLength]="10" [maxLength]="20">
                    </ngx-validation-message>
                    <div *ngIf="newpassword?.errors?.required" class="text-danger">
                        New Password is required
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <!-- Confirm Password input -->
                <label for="confirmpassword" class="col-sm-6 col-form-label">Confirm Password</label>
                <div class="col-sm-12">
                    <input nbInput fullWidth id="confirmpassword" type="password" class="form-control"
                        name="confirmpassword" [(ngModel)]="confirmPassword" placeholder="Confirm Password"
                        (input)="checkPasswordMatch()" #confirmpassword="ngModel" required
                        [status]="(confirmpassword.dirty || isSubmitted) ? (confirmpassword.invalid ? 'danger' : 'success') : ''"
                        [attr.aria-invalid]="confirmpassword.invalid && (confirmpassword.touched || isSubmitted) ? true : null">
                    <div *ngIf="confirmpassword?.errors?.required" class="text-danger">
                        Confirm Password is required
                    </div>
                    <div *ngIf="!passwordMatchError && newPassword !== '' && confirmPassword !== ''"
                        class="text-success">
                        Passwords match
                    </div>
                    <div *ngIf="passwordMatchError && newPassword !== '' && confirmPassword !== ''" class="text-danger">
                        Passwords do not match
                    </div>
                </div>
            </div>
        </form>
    </nb-card-body>

    <nb-card-footer class="offset-sm-3 col-sm-9">
        <button nbButton status="success" (click)="OK()"
            [disabled]="!passwordForm.valid || isSubmitted">OK</button>&nbsp;
        <button nbButton status="danger" (click)="cancel()">Cancel</button>
    </nb-card-footer>
</nb-card>